In [2]:
import pandas as pd
import numpy as np
import matplotlib

In [32]:
data = pd.read_csv('GallusGallusDomesticus.csv')
data

,GallusID,GallusBreed,Day,Age,GallusWeight,GallusEggColor,GallusEggWeight,AmountOfFeed,EggsPerDay,GallusCombType,SunLightExposure,GallusClass,GallusLegShanksColor,GallusBeakColor,GallusEarLobesColor,GallusPlumage
0,Marans1,Marans,1,883,3000,Brown,41.19,114,1,Single,7,Continental,White,White,NaN,Blue Copper
1,Marans1,Marans,2,883,3000,Brown,41.19,114,1,Single,7,Continental,White,White,NaN,Blue Copper
2,Marans1,Marans,3,883,3000,Brown,41.19,114,1,Single,7,Continental,White,White,NaN,Blue Copper
3,Marans1,Marans,4,883,3000,Brown,41.19,114,1,Single,7,Continental,White,White,NaN,Blue Copper
4,Marans1,Marans,5,883,3000,Brown,41.19,114,1,Single,7,Continental,White,White,NaN,Blue Copper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ameraucana11,Ameraucana,1,384,1800,Bluish-Green,53.10,110,1,Pea,7,NaN,Slate Blue,Brown,White,Blue Wheaten
996,Ameraucana11,Ameraucana,2,384,1800,Bluish-Green,53.10,110,1,Pea,7,NaN,Slate Blue,Brown,White,Blue Wheaten
997,Ameraucana11,Ameraucana,3,384,1800,Bluish-Green,53.10,110,1,Pea,7,NaN,Slate Blue,Brown,White,Blue Wheaten
998,Ameraucana11,Ameraucana,4,384,1800,Bluish-Green,53.10,110,1,Pea,7,NaN,Slate Blue,Brown,White,Blue Wheaten
999,Ameraucana11,Ameraucana,5,384,1800,Bluish-Green,53.10,110,1,Pea,7,NaN,Slate Blue,Brown,White,Blue Wheaten

In [33]:
data['GallusID'].unique()

array(['Marans1', 'Marans2', 'Marans3', 'Marans4', 'Marans5', 'Marans6',
       'Marans7', 'Marans8', 'Marans9', 'Marans10', 'Marans11',
       'Marans12', 'Marans13', 'Marans14', 'Marans15', 'Marans16',
       'Marans17', 'Marans18', 'Marans19', 'Marans20', 'Marans21',
       'Marans22', 'Marans23', 'Marans24', 'Marans25', 'Marans26',
       'Marans27', 'Marans28', 'Marans29', 'Marans30', 'Marans31',
       'Marans32', 'Marans33', 'Marans34', 'Marans35', 'Marans36',
       'Marans37', 'Marans38', 'Marans39', 'Marans40', 'Marans41',
       'Marans42', 'Marans43', 'Marans44', 'Marans45', 'Marans46',
       'Marans47', 'Marans48', 'Marans49', 'Marans50', 'Marans51',
       'Marans52', 'Marans53', 'Marans54', 'Marans55', 'Marans56',
       'Marans57', 'Marans58', 'Marans59', 'Marans60', 'Marans61',
       'Marans62', 'Marans63', 'Marans64', 'Marans65', 'Marans66',
       'Marans67', 'Marans68', 'Marans69', 'Marans70', 'Marans71',
       'Marans72', 'Marans73', 'Marans74', 'Marans75', 'Marans76',
       'Marans77', 'Marans78', 'Marans79', 'Marans80', 'Marans81',
       'Marans82', 'Marans83', 'Marans84', 'Marans85', 'Marans86',
       'Marans87', 'Marans88', 'Marans89', 'Marans90', 'Marans91',
       'Marans92', 'Marans93', 'Marans94', 'Marans95', 'Marans96',
       'Marans97', 'Marans98', 'Marans99', 'Marans100', 'Marans101',
       'Marans102', 'Marans103', 'Marans104', 'Marans105', 'Marans106',
       'Marans107', 'Marans108', 'Marans109', 'Marans110', 'Marans111',
       'Marans112', 'Marans113', 'Marans114', 'Marans115', 'Marans116',
       'Marans117', 'Marans118', 'Marans119', 'Marans120', 'Marans121',
       'Marans122', 'Marans123', 'Marans124', 'Marans125', 'Marans126',
       'Marans127', 'Marans128', 'Marans129', 'Marans130', 'Marans131',
       'Marans132', 'Marans133', 'Marans134', 'Marans135', 'Marans136',
       'Marans137', 'Marans138', 'Marans139', 'Marans140', 'Marans141',
       'Marans142', 'Marans143', 'Marans144', 'Marans145', 'Marans146',
       'Marans147', 'Marans148', 'Marans149', 'Marans150', 'Marans151',
       'Marans152', 'Marans153', 'Marans154', 'Marans155', 'Marans156',
       'Marans157', 'Marans158', 'Marans159', 'Marans160', 'Marans161',
       'Marans162', 'Marans163', 'Marans164', 'Marans165', 'Marans166',
       'Marans167', 'Marans168', 'Marans169', 'Marans170', 'Marans171',
       'Marans172', 'Marans173', 'Marans174', 'Marans175', 'Marans176',
       'Marans177', 'Marans178', 'Marans179', 'Ameraucana1',
       'Ameraucana2', 'Ameraucana3', 'Ameraucana4', 'Ameraucana5',
       'Ameraucana6', 'Ameraucana7', 'Ameraucana8', 'Ameraucana9',
       'Ameraucana10', 'Ameraucana11'], dtype=object)

In [4]:
data.corr()

,Day,Age,GallusWeight,GallusEggWeight,AmountOfFeed,EggsPerDay,SunLightExposure
Day,1.000000,0.001914,-0.082693,0.135436,-0.094145,0.026668,-0.077250
Age,0.001914,1.000000,0.052396,0.077701,0.128792,-0.304632,0.076941
GallusWeight,-0.082693,0.052396,1.000000,-0.101810,0.128234,0.095273,0.161182
GallusEggWeight,0.135436,0.077701,-0.101810,1.000000,-0.068021,-0.037039,-0.025482
AmountOfFeed,-0.094145,0.128792,0.128234,-0.068021,1.000000,-0.109570,0.007345
EggsPerDay,0.026668,-0.304632,0.095273,-0.037039,-0.109570,1.000000,0.045028
SunLightExposure,-0.077250,0.076941,0.161182,-0.025482,0.007345,0.045028,1.000000

In [7]:
data.dtypes

GallusID                 object
GallusBreed              object
Day                       int64
Age                       int64
GallusWeight              int64
GallusEggColor           object
GallusEggWeight         float64
AmountOfFeed              int64
EggsPerDay                int64
GallusCombType           object
SunLightExposure          int64
GallusClass              object
GallusLegShanksColor     object
GallusBeakColor          object
GallusEarLobesColor      object
GallusPlumage            object
dtype: object

Lets try to perform feature expration and predict the amount of eggs per day a chicken can have

In [10]:
data_eggs = pd.concat([data['Age'], data['AmountOfFeed'], data['SunLightExposure']], axis=1)
data_labels = data['EggsPerDay']

In [12]:
data_eggs.tail()

     Age  AmountOfFeed  SunLightExposure
995  384           110                 7
996  384           110                 7
997  384           110                 7
998  384           110                 7
999  384           110                 7

In [26]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import linear_model
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error

In [19]:
x_train, x_test, y_train, y_test = train_test_split(data_eggs, data_labels, test_size=0.33, random_state=42, shuffle=True)

In [28]:
lasso = linear_model.Lasso(alpha=.5)
lasso.fit(x_train, y_train)
y_pred = lasso.predict(x_test)
print(f'r2: {r2_score(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')

r2: 0.09309668360651979
MSE: 0.03177909141742444

In [29]:
ridge = linear_model.Ridge(alpha=.5)
ridge.fit(x_train, y_train)
y_pred = ridge.predict(x_test)
print(f'r2: {r2_score(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')

r2: 0.09816384405200118
MSE: 0.03160153141503732

In [30]:
from sklearn.neighbors import KNeighborsRegressor

In [31]:
neighbor = KNeighborsRegressor()
neighbor.fit(x_train, y_train)
y_pred = neighbor.predict(x_test)
print(f'r2: {r2_score(y_test, y_pred)}')
print(f'MSE: {mean_squared_error(y_test, y_pred)}')

r2: 1.0
MSE: 0.0